

.grid-container 
{
	display : grid ;
	margin: 0 auto;
	width : 1024px;
    grid-template-columns : repeat(2, 1fr);
	background-color: white;
}

.logo
{
	background-color: #C4A381;
	height: 100px;
	grid-column-start: 1;
	grid-column-end: 3;
}

.navbar
{
	background-color: #C4A381;
	height: 30px;
	border-top: 5px solid #644536;
	border-bottom: 5px solid #644536;
	grid-column-start: 1;
	grid-column-end: 3;
}

.home
{
	margin-top: 1em;
	grid-column-start: 1;
	grid-column-end: 3;
}

.main
{
	/*background-color: #644536;*/
	height: 900px;
	margin-top: 2em;
	/*border: 2px solid #644536;*/
	grid-column-start: 1;
	grid-column-end: 2;
}

.searchmain
{
	margin-top: 3em;
	/*border: 2px solid #644536;*/
	grid-column-start: 1;
	grid-column-end: 3;
}

.recipemain
{
	display:grid;
	grid-template-columns : repeat(5, 1fr);
	margin-top: 3em;
	/*border: 2px solid #644536;*/
	grid-column-start: 1;
	grid-column-end: 3;
	width : 1024px;
}

.recipeleft
{
	display:flex;	
	flex-direction: column;
	grid-column-start: 1;
	grid-column-end: 6;
}

.recipebox
{
	display:flex;
	flex-direction: row;
	width:100%;
	margin-bottom: 40px;
	/*background-color: #C4A381;*/
}

.recipeingredients
{
	border-right: 1px solid black;
	width: 20%;
	margin-top: 1em;
}

.recipeinstruction
{
	width: 60%;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
	

.recipeblog
{
	width: 20%;
	text-align: center;
}

.sidebar
{
	/*height: 900px;*/
	margin-top: 2em;
	/*background-color: #C4A381;*/
	/*border: 2px solid #644536;*/
	grid-column-start: 2;
	grid-column-end: 3;
}

.main > h1
{
	text-align: center;
	font-family: Brush Script MT;
	color: #644536;
}

.navigation
{
	display: flex;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	align-items: Center;
	justify-content: space-between;
}

.navigation > div a
{
	color: #644536;
	font-weight: bold;
	text-decoration: none;
	font-stretch:100;
	font-size: 1.5em;
}
.navigation > div 
{
	margin: auto;
}

.thumbnailcontainer
{
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-between;
	grid-row-gap: 24px;
}

.thumbnailcontainer > figure
{
	margin: 0;
	position: relative;
	background-color:  #000000;
}

.thumbnailcontainer > figure > img
{
	width: 500px;
	height: 400px;
}

.thumbnailcontainer > figure > figcaption
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}

.thumbnailcontainer > figure:hover > img
{
	opacity: 0.5;
	transform: scale(1);
}

.thumbnailcontainer > figure > figcaption > a
{
	opacity: 0;
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	font-family: Brush Script MT;
}

.thumbnailcontainer > figure:hover > figcaption > a
{
	opacity: 1;	
}

.gallery
{
	margin-bottom: 7px;
	display: grid;
	justify-content: center;
}

.gallery > img
{
	margin-top: 0.5em;
	width: 500px;
	height: 400px;
}

.searchcontainer
{
	display:flex;
	flex-direction: row;
	gap: .25rem;
	justify-content: right;
}

.searchcontainer > label
{
	//font-family: Brush Script MT;
	color: #644536;
	font-size: 1.5em;
}
	
.searchcontainer > input
{ 
	width: 350px;
}

.recipecards
{
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: space-between;
	width:100%;
	border-top: 1px solid #644536;
}

.card
{
	text-align: center;
	/*border: 1px solid #644536;*/
	padding: .5rem;
	width: 200px;
	height: 120px;
	line-height: 120px;
	
}

.card > a
{
	text-decoration: none;
	/*font-family: Brush Script MT;*/
	color: #644536;
	font-size: 1.75em;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.card > a:hover
{
	/*border: 1px solid #644536;*/
	font-weight: bold;
}

.hide
{
	display: none;
}

.recipeinstruction > h1
{
	margin-top: 0;
	font-family: Brush Script MT;
	color: #644536;
	border-bottom: 1px solid #644536;
}

.recipeingredients > h4
{
	color: #644536;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 0.5em;
}

.recipeingredients > ul
{
	margin-top: 1em;
	margin-right: 1em;
}

.recipeingredients > ul > li
{
	margin-bottom: 0.5em;
}

.recipeinstruction > ol
{
	padding-left: 1em;

}

.recipeinstruction > ol > li
{
	margin-bottom: 20px;

}

.recipeblog > h4
{
	margin-top: 2em;
	color: #644536;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 0.5em;
}

.recipeblog > a:hover
{
	opacity: 0.7;
}

.recipeblog > a > img
{
	width: 90%;
	
}

.home > img
{
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}