

.grid-container 
{
	display : grid ;
	margin: 0 auto;
	width : 1024px;
    grid-template-columns : repeat(2, 1fr);
	background-color: white;
}

.logo
{
	background-color: #C4A381;
	height: 100px;
	grid-column-start: 1;
	grid-column-end: 3;
}

.navbar
{
	background-color: #C4A381;
	height: 30px;
	border-top: 5px solid #644536;
	border-bottom: 5px solid #644536;
	grid-column-start: 1;
	grid-column-end: 3;
}

.searchmain
{
	margin-top: 2em;
	/*border: 2px solid #644536;*/
	grid-column-start: 1;
	grid-column-end: 3;
}

.main
{
	/*background-color: #644536;*/
	height: 900px;
	margin-top: 2em;
	/*border: 2px solid #644536;*/
	grid-column-start: 1;
	grid-column-end: 2;
}

.searchmain
{
	margin-top: 2em;
	/*border: 2px solid #644536;*/
	grid-column-start: 1;
	grid-column-end: 3;
}

.sidebar
{
	/*height: 900px;*/
	margin-top: 2em;
	/*background-color: #C4A381;*/
	/*border: 2px solid #644536;*/
	grid-column-start: 2;
	grid-column-end: 3;
}

.main > h1
{
	text-align: center;
	font-family: Brush Script MT;
	color: #644536;
}

.navigation
{
	display: flex;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	align-items: Center;
	justify-content: space-between;
}

.navigation > div a
{
	color: #644536;
	font-weight: bold;
	text-decoration: none;
	font-stretch:100;
	font-size: 1.5em;
}
.navigation > div 
{
	margin: auto;
}

.thumbnailcontainer
{
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-between;
	grid-row-gap: 24px;
}

.thumbnailcontainer > figure
{
	margin: 0;
	position: relative;
	background-color:  #000000;
}

.thumbnailcontainer > figure > img
{
	width: 500px;
	height: 400px;
}

.thumbnailcontainer > figure > figcaption
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}

.thumbnailcontainer > figure:hover > img
{
	opacity: 0.5;
	transform: scale(1);
}

.thumbnailcontainer > figure > figcaption > a
{
	opacity: 0;
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	font-family: Brush Script MT;
}

.thumbnailcontainer > figure:hover > figcaption > a
{
	opacity: 1;	
}

.gallery
{
	margin-bottom: 7px;
	display: grid;
	justify-content: center;
}

.gallery > img
{
	margin-top: 0.5em;
	width: 500px;
	height: 400px;
}

.searchcontainer
{
	display:flex;
	flex-direction: row;
	gap: .25rem;
	justify-content: right;
}

.searchcontainer > label
{
	//font-family: Brush Script MT;
	color: #644536;
	font-size: 1.5em;
}
	
.searchcontainer input
{ 
	width: 400px;
}

.recipecards
{
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: space-between;
	grid-row-gap: 24px;
}

.card
{
	border: 1px solid black;
	padding: .5rem;
	margin-bottom: 7px;
}

.card > a
{
	text-align: center;
	font-family: Brush Script MT;
	color: #644536;
	font-size: 3em;
}

.hide
{
	display: none;
}
	